.main {
    padding: 40px 45px;

}
.main__heading {
    margin: 0;
    margin-bottom: 76px;
}
.main__sort {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 80px;
}
.main__sortCity, .main__sortTk {
    width: calc(284px - 24px - 2px);
    margin-right: 24px;
    padding: 8px 12px;
    border-radius: 12px;
    border: 1px solid #bbb;
    background: #FFF;
}
.main__sortCitySelect, .main__sortTkSelect {
    width: 100%;
    border: none;
    margin: 0;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.main__sortCitySelect:active, .main__sortCitySelect:focus, .main__sortTkSelect:active, .main__sortTkSelect:focus {
    outline: none;
}
.main__sortMemorize {
    display: flex;
    align-items: center;
    gap: 11px;
}
.main__sortMemorizeCheckbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
.main__sortMemorizeIcon{
    display: block;
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid #bbb;
}
.main__sortMemorizeCheckbox:checked+.main__sortMemorizeIcon {
    background-image: url('./../../public/checkboxIcon.svg');
    border: 1px solid #7F56D9;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.main__sortMemorizeText {
    margin: 0;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.main__option_hidden {
    display: none;
}
.main__sortFindId {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    width: calc(320px - 24px -2px);
    padding: 8px 12px;
    min-height: calc(42px - 16px -2px);
    margin: 0 0 0 auto;
    border-radius: 12px;
    border: 1px solid #BBB;
}
.main__sortFindIdInput {
    width: 100%;
    height: 20px;
    padding: 0;
    border: none;
}
.main__sortFindIdInput:focus {
    outline: none;
}
/* .main__sortFindIdIcon {

} */
.main__menu {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 20px;
    gap: 76px;
    padding: 0;
    list-style-type: none;
}
.main__menuPoint {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.main__menuButton {
    width: 100%;
    padding: 5px;
    border: none;
    background-color: #ffffff;
    color: #484848;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}
.main__menuButton_active {
    border-bottom: 2px solid #FFBA00;
    color:  #000;
}