table, .table-request, .table-request__body{
  width: 100%;
}
.table{
  width: 100%;
max-width: 1824px;
  font-family: "Inter", 'Helvetica Neue', Arial, sans-serif;
}
.table-request table {
  table-layout: fixed;
  border: none;
}
.table-request__body{
  height: 560px;
  overflow-x: auto;
  margin-top: 0px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.table__multi{
  color: black;
  border: none;
  z-index: 1000;
  background-color: white;

}
.highlightOption {
 background: inherit !important;
 color: black !important;
}
.chip {
  background: inherit !important;
  color: black !important;
}
.multiSelectContainer {
  position: sticky;
  text-align: left;
  width: 100%;
  padding-top: -14px;
  margin: -30px 0 0 -10px;
}

.table__multi_hidden{
  visibility: hidden;
}
.table__dropbtn{
  border: none;
  background-color: inherit;
  display: flex;
  font-weight: 600;
}
.table-request__button{
  border: none;
  outline: none;
  background-color: inherit;
}
.table-request__box{
  display: flex;
  align-items: center;
 /* margin: 0 5px 0 5px;*/
  background-color: rgba(223, 231, 255, 1);
  border-radius: 8px;
  padding: 16px 0 16px 10px;
  white-space: nowrap;
  justify-content: center;
  margin: 0 16px 0 -10px;
}
.table-request__button:hover{
  opacity: 0.5;
  cursor: pointer;
}
.table-request__body {
  height: 400px;
  overflow-x: auto;
  margin-top: 0px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.table table {
  width:100%;
  table-layout: fixed;
  border: none;
}
.table thead th {
  font-weight: bold;
  text-align: left;
  border: none;
  white-space: nowrap;
  font-size: 14px;
}
.table tbody td {
  font-size: 14px;
  vertical-align: center;
  border-bottom: 1px solid rgba(189, 189, 189, 0.36);
  height: 92px;
}

.table__checkbox{
  width: 30px;
  text-align: left;
}
.table__tk{
  width: 88px;
  text-align: left;
  margin: 0 4px 0 4px;
}
.table__group{
  width: 172px;
  text-align: left;
  padding: 0 4px 0 4px;
}
.table__mean{
  width: 172px;
  text-align: left;
  padding: 0 4px 0 4px;
}
.table__data{
  width: 44px;
  margin: 0 4px 0 4px;
}
.table__count{
  width: 44px;
  text-align: center;
  margin: 0 4px 0 4px;
}
.table__dim{
  width: 120px;
}
.table__num{
  width: 120px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
.table__140px{
  width: 140px;
}
/* Стили для скролла */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px white;
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 4px rgba(221, 221, 221, 1);
}
